---
import type { Props as AstroProps } from "astro";
export const partial = true;
// Define props for TypeScript support in Astro components
interface Props extends AstroProps {
    message: string;
    id?: string;
    isHxSwapOob?: boolean;
}
// Define props for AstroContainer rendering in TypeScript
export type MessageProps = Props;

const { message, id, isHxSwapOob } = Astro.props;
---

<div
    {...id ? { id: id } : {}}
    {...isHxSwapOob ? { "hx-swap-oob": "true" } : {}}
>
    {message}
</div>
